
.contenedor{
    display: flex;
    width: 90%;
    background-color: rgba(220, 220, 220, 0.352);
    gap: 10px;
    height: 500px;
    align-items: center;
    justify-content: center;
}
.tarjetas{
    background-color: white;
    width: 25%;
    height: 370px;
   
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
}
img{
    width: 150px;
   
}
.img2{
margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}
.tenis{
    width: 189px;
}
.precio{
    color: rgb(37, 37, 94);
    font-size: 18px;
    font-weight: bold;

}
.tarjetas:hover .precio{
    color: rgb(255, 0, 0);
}

.contenedor1{
    background-color: white;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    
}
.azul{
    background-color:rgb(37, 37, 94) ;
    width: 100%;
    height: 30px;
    color: white;
    text-align: center;
    padding-top: 3px;
}

.tarjetas:hover .azul{
    background-color: red;
}
.polo{
   height: 180px;
}
.marron{
    background-color: chocolate;
    width: 100%;
   height: 40px;
    color: white;
    text-align: center;
    padding-top: 3px;
}
.tarjetas:hover .marron{
    background-color: red;
}
a{
    text-decoration: none;

}
p{
    width: 90%;
    padding-left: 10px;
}
.marronsito{
    color: chocolate;  
}
.estrellitas{
    color: #FFD700; 
    font-size: 16px;
}
